<!DOCTYPE html>
<html lang="en">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158726550-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-158726550-1', { 'optimize_id': 'GTM-PHTS4SD' });
</script>

<head>
    <script data-ad-client="ca-pub-7757670194569620" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PCC42CV');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ertuğrul Sarsar</title>

    <!-- Bootstrap core CSS -->
    <link href="~/TempleAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/TempleAssets/https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="~/TempleAssets/https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="~/TempleAssets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/TempleAssets/css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCC42CV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top " id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Ertuğrul Sarsar</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/TempleAssets/img/profile1.jpg" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Hakkımda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">Tecrübeler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">Eğitim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">Yetenekler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#languages">Diller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">Hobiler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#awards">Sertifikalar</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">
                <h1 class="mb-3">
                    Ertuğrul
                    <span class="text-dark">Sarsar</span>
                </h1>
                <div class="subheading mb-3 w-75">
                    Yunuseli Mahallesi · 801. Sokak - Osmangazi/BURSA ·<br /> +90(545)3617456 · ertugrulsarsar@gmail.com
                </div>
                <p class="lead mb-5">
                    10 Ekim 1994 yılında İstanbul'da doğdum. İlköğretim yıllarımın yarısı İstanbul'da diğer yarısı ise Bursa'da geçti. Lise yıllarıma da Bursa'da devam ettim.
                    Üniversite eğitimimi Bilecik Şeyh Edebali Üniversitesi Yönetim Bilişim Sistemleri (MIS) bölümünden mezun olarak tamamladım.
                    Kariyer hayatıma Dijital Pazarlama ve Sosyal Medya Uzmanı, Google SEO-SEM Danışmanlığı ve Uzmanlığı, Yazılım geliştirme alanlarına girmek ve kendimi sürekli geliştirmek istiyorum.
                    Takım çalışmasına oldukça yatkın, planlı ve özenli çalışmaya dikkat eden bir karaktere sahibim. Yeni mezun olduğum için bilgilerim taze ve yetiştirilmeye, geliştirilmeye açığım.
                </p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/ertugrulsarsar/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/ertugrulsarsar">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://twitter.com/ertugrulsarsar">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.facebook.com/sarsarertugrul">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    @*<a href="#">
                            <i class="">assadd</i>
                        </a>*@
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
            <div class="w-100">
                <h2 class="mb-5">Tecrübeler</h2>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Yazılım Stajerliği(Software Intern)</h3>
                        <div class="subheading mb-3">Freelance</div>
                        <p>
                            •Bir yazılımın nasıl işlediğini, hangi adımlarla uygulandığını,
                            <br /> •Program dillerinin yapılarını, kullanım alanlarını,
                            <br /> •C# program dili ile beraber Windows Form uygulamaları yapmayı,
                            <br /> •ASP.Net ile dinamik web sitelerinin içeriklerini incelemeyi,
                            <br /> •MVC (Model-View-Controller)'nin nasıl kullanıldığını,
                            <br /> •ASP.Net MVC ve Boostrap 4 ile site yapımı hakkında bilgiler edindim.
                        </p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">September 2019 - October 2019</span>
                    </div>
                </div>

                @*<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                      <div class="resume-content">
                        <h3 class="mb-0">Web Developer</h3>
                        <div class="subheading mb-3">Intelitec Solutions</div>
                        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                      </div>
                      <div class="resume-date text-md-right">
                        <span class="text-primary">December 2011 - March 2013</span>
                      </div>
                    </div>*@

                @*<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                      <div class="resume-content">
                        <h3 class="mb-0">Junior Web Designer</h3>
                        <div class="subheading mb-3">Shout! Media Productions</div>
                        <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                      </div>
                      <div class="resume-date text-md-right">
                        <span class="text-primary">July 2010 - December 2011</span>
                      </div>
                    </div>*@

                @*<div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                      <div class="resume-content">
                        <h3 class="mb-0">Web Design Intern</h3>
                        <div class="subheading mb-3">Shout! Media Productions</div>
                        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                      </div>
                      <div class="resume-date text-md-right">
                        <span class="text-primary">September 2008 - June 2010</span>
                      </div>
                    </div>*@

            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
            <div class="w-100">
                <h2 class="mb-5">Eğitim</h2>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Bilecik Şeyh Edebali Üniversitesi - BİLECİK</h3>
                        <div class="subheading mb-3">İktisadi ve İdari Bilimler Fakültesi</div>
                        <div>Yönetim Bilişim Sistemleri(MIS)</div>
                        <p>GPO: 2.77</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">2014-2019</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                    <div class="resume-content">
                        <h3 class="mb-0">Ali Karasu Anadolu Lisesi - BURSA</h3>
                        <div class="subheading mb-3">Eşit Ağırlık Programı</div>
                        <p></p>
                    </div>
                    <div></div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">2009-2014</span>
                    </div>
                </div>

            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
            <div class="w-100">
                <h2 class="mb-5">Yetenekler</h2>

                @*<div class="subheading mb-3">Programming Language &amp; Tools</div>
                    <ul class="list-inline dev-icons">
                      <li class="list-inline-item">
                        <i class="fab fa-html5"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fab fa-css3-alt"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fab fa-js-square"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fab fa-angular"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fab fa-react"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fab fa-node-js"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fab fa-sass"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fab fa-less"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fab fa-wordpress"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fab fa-gulp"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fab fa-grunt"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fab fa-npm"></i>
                      </li>
                    </ul>*@

                <div class="subheading mb-3"></div>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Veri Analizi
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Stratejik Planlama
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Proje Yönetimi
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        İş Geliştirme
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Araştırma
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Dijital Pazarlama
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Sunum Becerisi
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Yönetim
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Microsoft SQL
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        ASP.Net MVC
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Microsoft Visual Studio
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Unity 3D
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        IBM SPSS
                    </li>
                </ul>
            </div>

        </section>

        <hr class="m-0">
        <section class="resume-sectio p-3 p-lg-5 d-flex align-items-center" id="languages">
            <div class="w-100">
                <h2 class="mb-5">Diller</h2>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    İNGİLİZCE (ENGLISH) - B1 (Intermediate)
                </li>
                <ul class="fa-ul mb-0"></ul>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
            <div class="w-100">
                <h2 class="mb-5">Hobiler</h2>
                <p>Çocukluğumdan beri bilgisayarlarla çok vakit geçirdiğim için bilgisayar oyunlarına zaman ayırıp rekabet içeren FPS oyunları oynamayı severim.</p>
                <p>Liseden beri müzik tutkum olduğu için gitar çalıp şarkı söylemeye bayılırım.</p>
                <p>Sinemaya gidip yeni çıkan bilim-kurgu filmlerini izlemeyi severim.</p>
                <p>Yalnız pek dışarı çıkmayı sevmem. Fakat arkadaşlarımla çıkıp eğlenmeyi, gezmeyi, aktivitelere katılmayı severim.</p>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
            <div class="w-100">
                <h2 class="mb-5">Sertifikalar</h2>
                <ul class="fa-ul mb-0">
                    @*<li>
                          <i class="fa-li fa fa-trophy text-warning"></i>
                          Google Analytics Certified Developer</li>
                        <li>
                          <i class="fa-li fa fa-trophy text-warning"></i>
                          Mobile Web Specialist - Google Certification</li>
                        <li>
                          <i class="fa-li fa fa-trophy text-warning"></i>
                          1<sup>st</sup>
                          Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
                        <li>
                          <i class="fa-li fa fa-trophy text-warning"></i>
                          1<sup>st</sup>
                          Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
                        <li>
                          <i class="fa-li fa fa-trophy text-warning"></i>
                          2<sup>nd</sup>
                          Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
                        <li>
                          <i class="fa-li fa fa-trophy text-warning"></i>
                          1<sup>st</sup>
                          Place - James Buchanan High School - Hackathon 2006</li>
                        <li>
                          <i class="fa-li fa fa-trophy text-warning"></i>
                          3<sup>rd</sup>
                          Place - James Buchanan High School - Hackathon 2005</li>*@
                </ul>
            </div>
        </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/TempleAssets/vendor/jquery/jquery.min.js"></script>
    <script src="~/TempleAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/TempleAssets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/TempleAssets/js/resume.min.js"></script>

</body>

</html>
